@font-face {
  font-family: Logo;
  src: url('../assets/fonts/HachiMaruPop-Regular.ttf');
}

@font-face {
  font-family: Ship;
  src: url('../assets/fonts/BalsamiqSans-Regular.ttf');
}

@font-face {
  font-family: ShipBold;
  src: url('../assets/fonts/BalsamiqSans-Bold.ttf');
}